.modalBackgroud {
  position: relative;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200 200 200 / 0.75);
  position: fixed;
  /* display: flex;
    justify-content: center;
    align-items: center */
}

.modalContainer {
  width: 32em;
  height: 18em;
  /* border-radius: 12px; */
  background-color: rgb(243, 232, 232);
  /* box-shadow: rgba(0,0,0,0.35) 0px 5px 15px; */
  /* display:flex;
    align-items: center;
    padding: 2rem; */
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 0.8rem;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
